.pagination-pages {
  align-items: center;
  justify-content: center;
  margin-top: calc(50 / var(--screensize) * 100vw);
}

.pagination-pages__item {
  margin-right: calc(11 / var(--screensize) * 100vw);
  a {
    width: calc(42 / var(--screensize) * 100vw);
    height: calc(42 / var(--screensize) * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, .8);
    transition: .2s ease;
    font-size: calc(18 / var(--screensize) * 100vw);

    &.active {
      color: #fff;
      background-color: #434343;
      transition: .2s ease;

      &:hover {
        background-color: #434343;

      }
    }

    &:hover {
      background-color: rgba(67, 67, 67, 0.5);
      transition: .2s ease;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
